/*--------page content---------*/

@font-face {
    font-family:'Book-Antiqua';
    src: url('Fonts/Book-Antiqua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






/*--------page content---------*/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: black;
  font-family: 'Lato';
  font-weight: 300;
}






/*-----------header-----------*/

.background1 {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(223,228,228,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(223,228,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 1%,rgba(223,228,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfe4e4',GradientType=1 ); /* IE6-9 */
}

.header1 {
  font-family: 'Alex Brush';
  font-size: 5.5em;
  list-style-type: none;
  color: #5B8085;
  text-align: center;
  margin: 60px 0 40px 0;
}

.menu {
  text-align: center;
  padding: 0;
  margin-bottom: 75px;
}

.menu li {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0 40px 0 40px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  position: relative;
}

.menu li a {
  color: #968773;
}

.menu li a:hover {
  text-decoration: none;
}

.line {
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 2px;
  background-color: #968773;
  transition: 200ms all ease;
}

.line1 {
  left: 21px;
}

.line2 {
  right: 21px;
}

.line3 {
  left: 20px;
}

.line4 {
  right: 20px;
}

.line5 {
  left: 19px;
}

.line6 {
  right: 19px;
}

.line7 {
  left: 41px;
  width: 41px;
}

.line8 {
  right: 41px;
  width: 41px;
}

.menu-home:hover .line1,
.menu-home:hover .line2 {
  width: 23px;
}

.menu-about:hover .line3,
.menu-about:hover .line4 {
width: 24px;
}

.menu-work:hover .line5,
.menu-work:hover .line6 {
width: 20px;
}

/*
.menu-contact:hover .line7,
.menu-contact:hover .line8 {
width: 47px;
}
*/




/*------Nav-Bar------*/

nav {
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100vw;
  height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  text-align: left;
  transition: 200ms all ease;
  background: rgb(61,106,112); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(61,106,112,1) 0%, rgba(91,128,133,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(61,106,112,1) 0%,rgba(91,128,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(61,106,112,1) 0%,rgba(91,128,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6a70', endColorstr='#5b8085',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav ul {
  text-align: left;
  padding: 0;
  margin-bottom: 0px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  font-family: 'Lato';
  font-weight: 300;
  display: block;
  color: #DFE4E4;
}

.logo {
  font-family: 'Alex Brush';
  float: left;
  font-size: 2em;
  text-align: left;
}

.nav-logo {
  color: #DFE4E4;
  text-align: left;
  margin-top: 6px;
  letter-spacing: 2px;
}

.nav-menu {
  text-align: right;
  margin-top: 10px;
}

.nav-icon {
  font-family: 'Work Sans';
  margin: 5px 0 0 40px;
}

.scroll-nav {
  height: 50px;
  transition: 500ms all ease;
}

nav ul li a:hover {
  text-decoration: none;
  color: #B1C0C2;
}

.menu-button {
  display: none;
  margin: 0 0 5px 40px;
  width: 30px;
  transition: all 200ms ease;
}

.menu-button:hover {
  transform:rotate(90deg);
  cursor: pointer;
}

.nav-menu-dropdown {
  position: fixed;
  z-index: 1;
  top: 40px;
  width: 100%;
  min-height: 260px;
  background-color: #5B8085;
  display: none;
  padding-top: 30px;
}

.nav-icon2 a {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  display: block;
  padding: 20px 0 20px 0;
  color: white;
}

.nav-icon2 a:hover {
  background-color: white;
  color: #5B8085;
  text-decoration: none;

}

.active {
  display: block;
}





/*----------------Contaner-1----------------*/

.container1 {
  overflow: hidden;
  height: auto;
}

.background1 {
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

ul {
  padding: 0;
}

.shadow3 {
  -webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
}

.calligraphy-wrap-left,
.calligraphy-wrap-right {
  position: relative;
}

.calligraphy-left {
  position: absolute;
  max-width: 100px;
  left: 190px;
  bottom: 45px;
}

.calligraphy-right {
  position: absolute;
  max-width: 100px;
  right: 190px;
  bottom: 85px;
}








/*------------container2------------*/

.container2 {
  height: 1600px;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 9px 31px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 9px 31px -12px rgba(0,0,0,0.75);
  box-shadow: inset 0px 9px 31px -12px rgba(0,0,0,0.75);
  background: rgb(223,228,228); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(223,228,228,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(223,228,228,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(223,228,228,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe4e4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  -webkit-box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 24px -1px rgba(0,0,0,0.75);
}

.text-wrapper
{
  margin-top: 140px;
}

.header2
{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #5B8085;
  font-size: 4em;
  margin-bottom: 50px;
  text-align: center;
}

.text1
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #5B8085;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 2px;
}





/*-----------contact box-----------*/

.contact-box
{
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
	background: rgba(0, 0, 0, 0.0);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 30px;
}

.mail
{
min-width:50%;
min-height: 50px;
background: rgba(0, 0, 0, 0.1);
border-radius: 2px;
border: solid 1px #5B8085;
margin-bottom: 0px;
margin-top: 0;
color: #2d1300;
}

.message
{
  min-width:100%;
  min-height: 200px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: solid 1px #5B8085;
  color: #2d1300;
}

.text2
{
  margin-bottom: 0;
  margin-top : 0;
  color: #5B8085;
}

.send-button {
  margin: 0 auto;
  width: 100%;
}

.send-button
{
  background: rgba(0, 0, 0, 0.1);
  border: solid 1px #5B8085;
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  max-width: 80px;
  display: block;
  color: #5B8085;
  transition: all 200ms ease;
}

.send-button:hover
{
  background: #5B8085;
  text-decoration: none;
}

.send-button:hover
{
  color: white;
  text-decoration: none;
}

.location-box {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}





/*----------------footer----------------*/

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  background: rgb(61,106,112); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(61,106,112,1) 0%, rgba(91,128,133,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(61,106,112,1) 0%,rgba(91,128,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(61,106,112,1) 0%,rgba(91,128,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6a70', endColorstr='#5b8085',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
}

.copyright {
  font-family: 'Lato';
  font-weight: 300;
  margin: 40px 0 40px 0;
  color: white;
}




/*---------- Media queries----------- */


    /* Custom, iPhone Retina */
    @media only screen and (max-width : 535px) {
      .header1 {
        font-size: 3em;
        margin: 30px 0 0 0;
      }

      .menu {
        margin-bottom: 45px;
      }

      .calligraphy-left {
      display: none;
      }

      .calligraphy-right {
        display: none;
      }

      .menu li {
        display: block;
        margin: 20px 0 20px 0;
      }

      .line {
        display:none;
      }

      .nav-icon {
        margin: 0px;
        display: none;
      }

      .menu-button {
        display: block;
        float: right;
      }

      .header2
      {
        font-size: 3em;
      }
  }

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 536px) and (max-width : 625px){
      .header1 {
        font-size: 3em;
      }
      .calligraphy-left {
      position: absolute;
      max-width: 50px;
      left: 65px;
      bottom: -126px;
    }

    .calligraphy-right {
      position: absolute;
      max-width: 50px;
      right: 65px;
      bottom: 70px;
    }

    .menu li {
      margin: 0 20px 0 20px;
    }

    .nav-icon {
      margin: 0 0 0 20px;
    }
  }

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 0px) and (max-width : 625px){
  }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 625px) and (max-width : 768px) {
      .header1 {
        font-size: 4.5em;
      }
      .calligraphy-left {
      position: absolute;
      max-width: 80px;
      left: -40px;
      bottom: -166px;
    }

    .calligraphy-right {
      position: absolute;
      max-width: 80px;
      right: -40px;
      bottom: 85px;
    }

    .menu li {
      margin: 0 30px 0 30px;
    }

    .nav-icon {
      margin: 0 0 0 20px;
    }
  }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 0px) and (max-width : 768px) {
      .nav-logo {
        letter-spacing: 1px;
      }

      .nav-icon {
        margin-top: 7px;
      }
    }


    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width : 992px) {

      .calligraphy-left {
      position: absolute;
      max-width: 100px;
      left: -20px;
      bottom: -186px;
    }

    .calligraphy-right {
      position: absolute;
      max-width: 100px;
      right: -20px;
      bottom: 85px;
    }
  }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 0px) and (max-width : 992px) {

}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1201px) {

        .calligraphy-left {
        position: absolute;
        max-width: 100px;
        left: 100px;
        bottom: 45px;
      }

      .calligraphy-right {
        position: absolute;
        max-width: 100px;
        right: 100px;
        bottom: 85px;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1201px) {

    }
